{% extends 'layouts/base.html' %} 
{% load crispy_forms_tags %}
{% block css_block %}
<style>
    .task{
        width: 550px;
        margin: auto;
        border: 3px solid rgba(21, 94, 118, 0.806);
        padding: 40px;
    }
    .task form button{
        width: 100%;
        background-color: rgba(21, 94, 118, 0.806);
        color: azure;
    }
    .task h3{
        text-align: center;
        color: rgba(21, 94, 118, 0.806);
        padding-bottom: 20px;
        text-decoration: underline;
    }
   </style> 
{% endblock css_block %}
{% block span_block %}
  Create Task 
{% endblock span_block %}

{% block body_block %}

<div class="card pd-20 pd-sm-40">
    <h2 class="card-body-title">Add Task</h2>
    <form method="POST">
      {{ form|crispy }}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
  </div>

{% endblock %}  