{% extends 'layouts/base.html' %}

{% block span_block %}
    Project List
{% endblock span_block %}

{% block body_block %}
<div class="card pd-20 pd-sm-40">
  <h3 class="card-body-title"><h1 class="text-dark">Project Table</h1></h3>
  <div>
    <h4 class="mt-3 mg-b-20 mg-sm-b-30">Create New Project <button class=" btn btn-sm btn-secondary ml-2"><a class="text-white" href="{% url 'App_Project:create_project' %}">Add</a>   </button>  
    </h4> 
  </div>
  <div class="table-responsive">
    <table class="table mg-b-0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Initialize</th>
          <th>Deadline</th>
          <th>Manager</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {% if projects %}
        {% for project in projects %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.start_date }}</td>
          <td>{{ project.end_date }}</td>
          <td>{{ project.manager }}</td>
          <td>            
             <button class="btn btn-sm btn-dark">
              <a class="text-white" href="{% url 'App_Project:project_detail' project.pk %}"><i class="fa fa-eye" ></i> View</a>
             </button> 
             <button class="btn btn-sm btn-primary">
              <a class="text-white" href="{% url 'App_Project:update_project' project.pk %}"><i class="icon ion-edit" ></i> Edit</a>
             </button> 
             <button class="btn btn-sm btn-danger">
              <a class="text-white" href="{% url 'App_Project:delete_project' project.pk %}"><i class="icon ion-trash-a" ></i> Delete</a>
             </button> 
              
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td>No Projects Found.</td> </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
</div><!-- card -->
{% endblock body_block %}



