{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Login - TMS</title>

    <!-- vendor css -->
    <link href="{% static 'assets/lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/Ionicons/css/ionicons.css' %}" rel="stylesheet">


    <!-- Starlight CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
  </head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-sl-primary ht-100v">

      <form method="POST" action="{% url 'App_User:login' %}" class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white">
        {% csrf_token %}
        <div class="signin-logo tx-center tx-24 tx-bold tx-inverse mg-b-10"> <span class="tx-info tx-normal">Login</span></div>
        {% if error_message %}
        <!-- <p><strong>{{ error_message }}</strong></p> -->
        <div class="tx-center mg-b-20 text-danger">{{ error_message }}</div>
        {% endif %}
        
        <div class="form-group">
            <input type="text" name="username" id="username" class="form-control" placeholder="Enter Your Username" autofocus>
        </div><!-- form-group -->
        <div class="form-group">
          <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
          <!-- <a href="" class="tx-info tx-12 d-block mg-t-10">Forgot password?</a> -->
        </div><!-- form-group -->
        <button type="submit" class="btn btn-info btn-block">Sign In</button>

        <!-- <div class="mg-t-60 tx-center">Not yet a member? <a href="page-signup.html" class="tx-info">Sign Up</a></div> -->
      </form><!-- login-wrapper -->
    </div><!-- d-flex -->

    <script src="{% static 'assets/lib/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/lib/popper.js/popper.js' %}"></script>
    <script src="{% static 'assets/lib/bootstrap/bootstrap.js' %}"></script>

  </body>
</html>
