{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="Blockchain Project">
    <meta name="author" content="ghosteye">

    <link href="{% static 'assets/img/task.png' %}" rel="icon">
    <link href="{% static 'assets/img/task.png' %}" rel="favicon">

    <title>TMS</title>

    <!-- vendor css -->
    <link href="{% static 'assets/lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/Ionicons/css/ionicons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/rickshaw/rickshaw.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/css/tempusdominus-bootstrap-4.min.css">
</head>

    <!-- Starlight CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    
  </head>
  {% block css_block %}

  {% endblock %}
  <body>

    <section id="container">
      {% include 'layouts/navbar.html' %}
      {% include 'layouts/sidebar.html' %}
      <!--main content start-->
      <div class="sl-mainpanel">
        <nav class="breadcrumb sl-breadcrumb">
          <a class="breadcrumb-item" href="{% url 'App_User:home' %}">Home</a>
          <span class="breadcrumb-item active">             
            {% block span_block %}
              Dashboard
            {% endblock span_block %}              
          </span>
        </nav>
  
        <div class="sl-pagebody">

            {% block body_block %}
              
            {% endblock body_block %}
         </div>
      </div>     

      <!--main content end-->
  
    </section>
    

  <script src="{% static 'assets/lib/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/lib/popper.js/popper.js' %}"></script>
  <script src="{% static 'assets/lib/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'assets/lib/jquery-ui/jquery-ui.js' %}"></script>
  <script src="{% static 'assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
  <script src="{% static 'assets/lib/jquery.sparkline.bower/jquery.sparkline.min.js' %}"></script>
  <script src="{% static 'assets/d3/d3.js' %}"></script>
  <script src="{% static 'assets/lib/rickshaw/rickshaw.min.js' %}"></script>
  <script src="{% static 'assets/lib/chart.js/Chart.js' %}"></script>
  <script src="{% static 'assets/lib/Flot/jquery.flot.js' %}"></script>
  <script src="{% static 'assets/Flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static 'assets/lib/Flot/jquery.flot.resize.js' %}"></script>
  <script src="{% static 'lib/flot-spline/jquery.flot.spline.js' %}"></script>
  <script src="{% static 'assets/js/app.js' %}"></script>
  <script src="{% static 'assets/js/ResizeSensor.js' %}"></script>
  <script src="{% static 'assets/js/dashboard.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>

</body>
</html>