{% load static %}   
   <!-- ########## START: LEFT PANEL ########## -->
    <div class="sl-logo"><a href="{% url 'App_User:home' %}"><i class="icon ion-clipboard text-warning"></i><b class="text-warning tx-22"> TMS </b></a></div>
    <div class="sl-sideleft">
      <!-- <div class="input-group input-group-search">
        <input type="search" name="search" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn"><i class="fa fa-search"></i></button>
        </span>
      </div> -->

      <label class="sidebar-label text-warning">Side Nav Menu</label>
      <div class="sl-sideleft-menu">
        <a href="{% url 'App_User:home' %}" class="sl-menu-link text-warning">
          <div class="sl-menu-item tx-15">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22" ></i>
            <span class="menu-item-label tx-20">Dashboard</span>
          </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <!-- <a href="#" class="sl-menu-link text-warning">
          <div class="sl-menu-item">
            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
            <span class="menu-item-label tx-20">User Log</span>
          </div>
        </a> -->
        <a href="" class="sl-menu-link text-warning">
          <div class="sl-menu-item">
            <i class="menu-item-icon ion-ios-pie-outline tx-20"></i>
            <span class="menu-item-label tx-20">Workspace</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <ul class="sl-menu-sub nav flex-column">
          <li class="nav-item"><a href="{% url 'App_Project:create_project' %}" class="nav-link">Create Project</a></li>
          <li class="nav-item"><a href="{% url 'App_Project:project_list' %}" class="nav-link">Project List</a></li>
        </ul>
        <a href="#" class="sl-menu-link text-warning">
          <div class="sl-menu-item">
            <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
            <span class="menu-item-label tx-20">Task Form</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <ul class="sl-menu-sub nav flex-column">
          <li class="nav-item"><a href="" class="nav-link">Task Added</a></li>
        </ul>
        <a href="" class="sl-menu-link text-warning">
          <div class="sl-menu-item">
            <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
            <span class="menu-item-label tx-22">Settings</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div>
        </a>
        <ul class="sl-menu-sub nav flex-column">
          <li class="nav-item"><a href="" class="nav-link">Accordion</a></li>
        </ul>
        <a href="" class="sl-menu-link text-warning">
          <div class="sl-menu-item">
            <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
            <span class="menu-item-label tx-22">Report</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <ul class="sl-menu-sub nav flex-column"> 
          <li class="nav-item">
            <a href="{% url 'App_Userlog:userlog' %}" class="nav-link">Userlog</a>
          </li>
        </ul>
      </div><!-- sl-sideleft-menu -->

      <br>
    </div><!-- sl-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->